<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="commonHead">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <th:block layout:fragment="html_head"/>

    <link rel="stylesheet" href="webjars/font-awesome/5.7.2/css/all.css">
    <link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/startbootstrap-sb-admin-2/4.0.6/css/sb-admin-2.css">

    <th:block layout:fragment="add_lib_css"/>
</head>

</html>

